___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
sal = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [4]:
sal.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
sal.describe()['BasePay'].loc['mean']

np.float64(66325.4488404877)

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
sal.describe()['OvertimePay'].loc['max']

np.float64(245131.88)

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [9]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [10]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

[** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [11]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [15]:
sal[(sal['Year'] >= 2011 )  & (sal['Year'] <= 2014  ) ]['BasePay'].mean()

np.float64(66325.4488404877)

** How many unique job titles are there? **

In [18]:
sal['JobTitle'].value_counts()

JobTitle
Transit Operator                      7036
Special Nurse                         4389
Registered Nurse                      3736
Public Svc Aide-Public Works          2518
Police Officer 3                      2421
                                      ...
Light Rail Vehicle Equip Eng             1
Civil Case Settlmnt Specialist           1
ADMINISTRATOR, SFGH MEDICAL CENTER       1
CHIEF OF POLICE                          1
Special Assistant 8                      1
Name: count, Length: 2159, dtype: int64

** What are the top 5 most common jobs? **

In [19]:
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [31]:
vc = sal[(sal['Year'] == 2013 )]['JobTitle'].value_counts()

vc[vc==1]

JobTitle
Mayor                          1
Adm, SFGH Medical Center       1
Controller                     1
Parking Hearing Examiner       1
Court Asst., Superior Court    1
                              ..
IS Technician Assistant        1
Chief, Fire Department         1
Braillist                      1
Victim & Witness Technician    1
Senior Assessment Clerk        1
Name: count, Length: 202, dtype: int64

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [41]:
dfo = pd.DataFrame(sal['JobTitle'].value_counts())

dfo.reset_index(inplace=True)

In [51]:
dfo[dfo['JobTitle'].str.contains('CHIEF')]

                                               JobTitle  count
528                  BATTALION CHIEF, (FIRE DEPARTMENT)     45
778                          ASSISTANT CHIEF ATTORNEY I     23
797             CHIEF STATIONARY ENGINEER, SEWAGE PLANT     22
1003                                        CHIEF CLERK     15
1006                          CHIEF STATIONARY ENGINEER     15
1444                                     CHIEF SURVEYOR      6
1446               DEPUTY CHIEF III (POLICE DEPARTMENT)      5
1448        ASSISTANT CHIEF VICTIM/WITNESS INVESTIGATOR      5
1450                          ASSISTANT DEPUTY CHIEF II      5
1461                CHIEF ATTORNEY I (CIVIL & CRIMINAL)      5
1497   CHIEF STATIONARY ENGINEER, WATER TREATMENT PLANT      5
1507                        ASSISTANT CHIEF ATTORNEY II      5
1533   ASSISTANT CHIEF DISTRICT ATTORNEY'S INVESTIGATOR      4
1566                  CHIEF PAYROLL AND PERSONNEL CLERK      4
1591  CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL)      3
1594                           CHIEF BUILDING INSPECTOR      3
1680                      CHIEF WATER SERVICE INSPECTOR      3
1727                               CHIEF DEPUTY SHERIFF      3
1765       DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)      3
1766   ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)      3
1837               CHIEF DEPUTY ADULT PROBATION OFFICER      2
1881                                   CHIEF PREPARATOR      2
1890                      CHIEF ADULT PROBATION OFFICER      2
1896                                    CHIEF DIETITIAN      2
1934             CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)      1
1988            CHIEF PROBATION OFFICER, JUVENILE COURT      1
1993                           CHIEF PLUMBING INSPECTOR      1
2001                  CHIEF VICTIM/WITNESS INVESTIGATOR      1
2011                         CHIEF ELECTRICAL INSPECTOR      1
2025                           CHIEF NURSERY SPECIALIST      1
2078      ASST. CHIEF, BUREAU OF CLAIMS INVEST. & ADMIN      1
2087                           CHIEF TELEPHONE OPERATOR      1
2091             CHIEF DISTRICT ATTORNEY'S INVESTIGATOR      1
2110   ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION      1
2114                            CHIEF HOUSING INSPECTOR      1
2117                               CHIEF MICROBIOLOGIST      1
2146                        CHIEF FIRE ALARM DISPATCHER      1
2157                                    CHIEF OF POLICE      1

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [75]:


ddfo = pd.DataFrame(sal.groupby('JobTitle').sum())

ddfo.reset_index(inplace=True)




listo = []

for i in ddfo['JobTitle']:
    listo.append(len(i))


ddfo['len'] = listo

In [73]:
ddfo['TotalPay'].corr(ddfo['len'])

np.float64(-0.13390954307538938)

# Great Job!