In [1]:
import pandas as pd
import numpy as np
import random


dicto = {1:'a',2:'b',3:'c'}

listo = np.array(['a','b','c'])

a = pd.Series(listo,dicto)

In [2]:
a

1    a
2    b
3    c
dtype: object

In [3]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(np.random.randn(5,4),['a','b','c','d','e'],['1','2','3','4'])

print(df)

          1         2         3         4
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [5]:
print(df[['1','2']])

          1         2
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
d  0.188695 -0.758872
e  0.190794  1.978757

In [6]:
df = df.drop('1',axis=1)

print(df)

          2         3         4
a  0.628133  0.907969  0.503826
b -0.319318 -0.848077  0.605965
c  0.740122  0.528813 -0.589001
d -0.758872 -0.933237  0.955057
e  1.978757  2.605967  0.683509

In [7]:
df['hola'] = df['2']+df['3']

print(df)

          2         3         4      hola
a  0.628133  0.907969  0.503826  1.536102
b -0.319318 -0.848077  0.605965 -1.167395
c  0.740122  0.528813 -0.589001  1.268936
d -0.758872 -0.933237  0.955057 -1.692109
e  1.978757  2.605967  0.683509  4.584725

In [8]:
df.loc['a']

2       0.628133
3       0.907969
4       0.503826
hola    1.536102
Name: a, dtype: float64

In [9]:
df.iloc[0]

2       0.628133
3       0.907969
4       0.503826
hola    1.536102
Name: a, dtype: float64

In [10]:
df.loc['b','2']

np.float64(-0.31931804459303326)

In [11]:
print(df > 0)

       2      3      4   hola
a   True   True   True   True
b  False  False   True  False
c   True   True  False   True
d  False  False   True  False
e   True   True   True   True

In [12]:
df = df.set_index(df['hola'])

In [13]:
print(df)

                  2         3         4      hola
hola
 1.536102  0.628133  0.907969  0.503826  1.536102
-1.167395 -0.319318 -0.848077  0.605965 -1.167395
 1.268936  0.740122  0.528813 -0.589001  1.268936
-1.692109 -0.758872 -0.933237  0.955057 -1.692109
 4.584725  1.978757  2.605967  0.683509  4.584725

In [14]:
ou = [1,1,2,2]
ins = ['a','b','a','b']
hier = list(zip(ou,ins))
hier = pd.MultiIndex.from_tuples(hier)

hier

MultiIndex([(1, 'a'),
            (1, 'b'),
            (2, 'a'),
            (2, 'b')],
           )

In [15]:


oco = pd.DataFrame(np.random.randn(4,2),hier,['a','b'])
print(oco)

            a         b
1 a  0.302665  1.693723
  b -1.706086 -1.159119
2 a -0.134841  0.390528
  b  0.166905  0.184502

In [16]:
print(oco.loc[1].loc['b'])

a   -1.706086
b   -1.159119
Name: b, dtype: float64

In [17]:
oco.index.names = ['groups','num']

In [18]:
print(oco)

                   a         b
groups num
1      a    0.302665  1.693723
       b   -1.706086 -1.159119
2      a   -0.134841  0.390528
       b    0.166905  0.184502

In [19]:
print(oco.loc[1].loc['a']['b'])

1.693722925204035

In [20]:
print(oco.xs('b',level='num'))

               a         b
groups
1      -1.706086 -1.159119
2       0.166905  0.184502

In [21]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

data = pd.DataFrame(d)

print(data)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [22]:
print(data.dropna())

     A    B  C
0  1.0  5.0  1

In [23]:
print(data.dropna(thresh=2))

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [24]:
print(data.fillna(value='FILL'))

      A     B  C
0   1.0   5.0  1
1   2.0  FILL  2
2  FILL  FILL  3

In [25]:
print(data['A'].fillna("A"))

0    1.0
1    2.0
2      A
Name: A, dtype: object

In [26]:
data1 = {
    'Category': ['Electronics', 'Electronics', 'Clothing', 'Clothing', 'Electronics', 'Furniture', 'Furniture', 'Clothing', 'Electronics'],
    'Region':   ['North', 'South', 'North', 'East', 'North', 'West', 'West', 'North', 'South'],
    'Seller':   ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'Dave', 'Dave', 'Eve', 'Alice'],
    'Sales':    [500, 450, 200, 300, 600, 800, 150, 250, 400],
    'Profit':   [50, 45, 20, 30, 80, 100, -20, 25, 40]
}

In [27]:
pop = pd.DataFrame(data1)

In [28]:
print(pop)

      Category Region   Seller  Sales  Profit
0  Electronics  North    Alice    500      50
1  Electronics  South      Bob    450      45
2     Clothing  North    Alice    200      20
3     Clothing   East  Charlie    300      30
4  Electronics  North      Bob    600      80
5    Furniture   West     Dave    800     100
6    Furniture   West     Dave    150     -20
7     Clothing  North      Eve    250      25
8  Electronics  South    Alice    400      40

In [29]:
print(pop.groupby('Category').sum().loc['Clothing'].transpose())

Region     NorthEastNorth
Seller    AliceCharlieEve
Sales                 750
Profit                 75
Name: Clothing, dtype: object

In [31]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,66,444],'col3':['abc','def','ghi','xyz']})

df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3    66  ghi
3     4   444  xyz

In [32]:
df['col2'].nunique()

df.value_counts()

col1  col2  col3
1     444   abc     1
2     555   def     1
3     66    ghi     1
4     444   xyz     1
Name: count, dtype: int64

In [34]:
print(df['col1'] > 2)

0    False
1    False
2     True
3     True
Name: col1, dtype: bool

In [36]:
print(df['col2'].sum())

1509

In [38]:
def times2(x):
    return x*2

print(df['col1'].apply(times2))

print(df['col3'].apply(len))

0    2
1    4
2    6
3    8
Name: col1, dtype: int64
0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [39]:
print(df['col2'].apply(lambda x: x/2))

0    222.0
1    277.5
2     33.0
3    222.0
Name: col2, dtype: float64